{% extends "base.html" %}

{% block content %}

		
		<!--<p><b><ul style="color: white; text-align: center;">* General instructions *</ul></b></p>--> <br>
		<p1>1. Please fill all the fields and click "submit" button to view the results</p1><br>
		<p2>2. Click "Download PDF" to extract the results</p2><br><br>
		<p3><b>This work was supported by the PORTOS project co-financed by the Interreg Atlantic Area Programme through the European Regional Development Fund [grant number EAPA_784/2018]</b></p3><br><br>



		<p><center><b><u>Specific instructions for input values</u></b></center></p>
		<p1><ul style="color: white; text-align: left;">SOLAR</ul></p1><br>
		<p2>Efficiency of typical solar panels</p2><br>
		<p3>Solar panels = 13% to 23 % & high performance solar panels = upto 34%</p3><br><br>


		<p1><ul style="color: white; text-align: left;">WIND</ul></p1><br>
		<p2>Power coefficient (Cp) values of typical wind turbines</p2><br>
		<p3>Horizontal axis wind turbine = 0.2 to 0.45 & Vertical axis wind turbine = 0.1 to 0.2</p3><br><br>


		<p1><ul style="color: white; text-align: left;">TIDE</ul></p1><br>
		<p2>Power coefficient (Cp) values of typical tidal current turbines</p2><br>
		<p3>Horizontal axis tidal turbine = 0.2 to 0.45 & Vertical axis tidal turbine = 0.1 to 0.2</p3><br><br>


		<p1><ul style="color: white; text-align: left;">WAVE</ul></p1><br>
		<p2>Power take off (PTO) efficiency values of typical wave energy devices</p2><br>
		<p3>Oscillating water cloumn (OWC) = 11% to 31% , Overtopping devices (OTD) = 18% to 27% & Others = 4% to 45%</p3><br><br>


		<p1><ul style="color: white; text-align: left;">OTHERS</ul></p1><br>
		<p2><u>Carbon Intensity (CI) values in (gCO2/kWh) for various countries</u></p2><br><br>
		<p3>Source: Quantification of the carbon intensity of electricity produced and used in Europe [https://doi.org/10.1016/j.apenergy.2021.117901]</p3><br><br>
Austria			163<br>
Albania			19<br>
Australia		602<br>
Belgium			205<br>
Belarus			485<br>
Bosnia Herzegovina	758<br>
Bulgaria		459<br>
Canada			117<br>
Cyprus			28<br>
Czechia			487<br>	
Croatia			228<br>
Denmark			115<br>
Estonia			571<br>
Finland			114<br>
France			82<br>
Germany			390<br>
Greece			765<br>
Hong Kong		748<br>
Hungary			268<br>
Iceland			25<br>
India			727<br>
Israel			540<br>
Ireland			350<br>
Italy			358<br>
Kosovo			1,015<br>
Latvia			197<br>
Lithuania		86<br>
Luxembourg		106<br>
Malta			449<br>
Moldova			210<br>
Montenegro		466<br>
Netherlands		440<br>
New Zealand 	602<br>
Norway			28<br>
North Macedonia	751<br>
Poland			744<br>
Portugal		286<br>
Russia			428<br>
Romania			370<br>
Serbia			750<br>
South Korea		538<br>
Singapore		368<br>
South Africa	870<br>
Slovakia		169<br>
Slovenia		265<br>
Spain			253<br>
Sweden			33<br>
Switzerland		37<br>
Turkey			499<br>
UAE				369<br>
United Kingdom	271<br>
Ukraine			434<br>
EU27			296</p3><br><br>

		
{% endblock %}